@{
    ViewData["Title"] = "Home Page";
}
 
<div class="text-center">
    <h1 class="display-4">Expense Tracker Version 0.1a</h1>
    <p>Welcome to your dashboard.</p>
    <p><a href="/category/index">Edit Categories</a></p>
</div>
