@{
    ViewData["Title"] = "Home Page";
}
 
<div class="text-center">
    <h1 class="display-4">Expense Tracker 0.1.0-alpha</h1>
    <p>Welcome to your dashboard.</p>
    <p><a href="/category">Categories</a></p>
    <p><a href="/transaction">Transactions</a></p>
</div>
